* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #6b6565;
  font-size: 18px;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 24%;
  height: 100%;
  border-right: 3px solid #a8a6a6;
  overflow-y: scroll;
  margin-right: 10px;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px 0 20px 10px;
  font-size: 28px;
  text-align: center;
  overflow-y: hidden;
}

nav a {
  display: block;
  width: 88%;
  color: #4d4353;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  border-top: 2px solid;
}

h2 {
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(10, 10, 10);
  font-weight: 600;
}

.main-section {
  max-width: 75%;
  position: relative;
  top: 10px;
  left: 330px;
  /* scroll-behavior: smooth;  Not working!*/
}

p {
  padding: 10px 10px 10px 24px;
  max-width: 92%;
}

ul li {
  max-width: 85%;
  padding-bottom: 7px;
  position: relative;
  left: 70px;
}

ul ul li {
  margin: 5px 0 5px 30px;
}

code:not(.no-code), code pre {
  position: relative;
  left: 50px;
  width: fit-content; 
  padding: 5px 10px;
  background-color: #eee;
  font-size: 12px;
  border-radius: 3px;
}

#Reference {
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  nav {
    position: static;
    margin: 25px auto;
    width: fit-content;
    height: 475px;
    border: 3px solid #a8a6a6;
    overflow-x: hidden;
  }

  .main-section {
    position: static;
    margin: 10px;
  }

  p {
    position: static;
    width: 110%;
  }

  code, code pre {
    position: relative;
    left: 5px;
  }
}
