* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  color: #6b6565;
  font-size: 18px;
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  width: 24%;
  height: 100%;
  border-right: 3px solid #a8a6a6;
  z-index: 1;
}

#docs-title {
  position: sticky;
  padding: 15px 0 25px 15px;
  font-size: 150%;
  text-align: center;
}

#navbar {
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav li {
  text-align: left;
  list-style: none;
  font-size: large;
  font-weight: normal;
  padding: 15px 0;
}

.nav li a {
  font-style: normal;
  color: #4d4353;
  text-decoration: none;
}

h1 {
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(10, 10, 10);
}

.main-section {
  max-width: 75%;
  position: relative;
  top: 10px;
  left: 330px;
  scroll-behavior: smooth;
}

.main-section p {
  padding-left: 20px;
}

p {
  padding: 10px;
  max-width: 92%;
}

ul li {
  max-width: 85%;
  padding-bottom: 7px;
  position: relative;
  left: 70px;
}

ul li li {
  padding-left: 20px;
}

code:not(.no-code), code pre {
  padding: 5px 10px;
  background-color: #eee;
  font-size: 12px;
  border-radius: 3px;
  position: relative;
  left: 50px;
  width: fit-content;
}

footer {
  position: absolute;
  left: 500px;
  bottom: calc(height-10px);
  padding: 10px;
}

/* On regular sized devices (laptops, desktops), the element with id="navbar" should be shown on the left side of the screen and should always be visible to the user */
@media (min-width: 1080px) {
  /**/
}
